@media not print {
body {
    color: #635959;
}

header {
    background-color: #242323;
    color: #EFEFEF;
}

h3, article h4 > h4{
    color: #8C1018;
}

article a {
    color: #314052;
}
}


header h1 {
    font-size: 4em;
}

main figcaption > figure {
    font-style: italic;
    font-size: 0.75em
}

main figure > figcaption::before {
    content: 'Picture above:';
    font-weight: bold;
}

article time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

@media not print{
main > h3 {
    font-size: 2em;
}
}

header {
    padding: 20px 50px;
}

main {
    padding: 5px 10px;
}


@font-face {
    font-family: "Contail One";
    src: url('../fonts/news_cycle.ttf');
    format("truetype");
}

@font-face {
    font-family: "News Cycle";
    src: url('../fonts/contrail_one.ttf');
    format("truetype");
}

body {
    font-family: "News_Cycle";
}

header {
    font-family: "Contrail_One";
}

article {
    margin: 5px 0px;
    padding: 5px 5px;
    box-shadow: -1px -1px 6px #888888;
}

@media print {
    header {
        padding: 0px;
    }

    article {
        box-shadow: none;
    }

    header h1 {        
        font-size: 2em;
    }

    header h2 {
        display: none;
    }
}
